.button {
    @include reset-button ;
    
    line-height: 1;
    white-space: nowrap;
    transform: var(--transition-duration);
    

    // @include hover {
    //     box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    //     transition: box-shadow 0.2s ease-in-out;
    //     transition: all 0.3s ease;
    // };

    // &:active {
    //     background-color: $color-epsilon;
    //     box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    //     transition: box-shadow 0.1s ease-in-out;
    // }

    // &:focus-visible {
    //     box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    //     transition: box-shadow 0.1s ease-in-out;
    //     transition: all 0.3s ease;
    // // }
}

