.marker {
    position: relative;
    margin-left: 20px;
    &::before {
        position: absolute;
        left: -15px;
        top: 8px;
        content: "";
        width: 4px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: currentColor;

        @include tablet {
            width: 2px;
        }
    }

    &_small {
        &::before {
            content: "";
            width: 2px;
            top: 11px;
        }
    }
}
