.text {
    &_faded {
        color: rgba(0, 0, 0, 0.5);
    }

    &_accent {
        font-weight: 700;
        color: var(--color-main);
    }

    &_light {
        color: var(--color-text-light);
    }


    &_strong {
        font-weight: 700;
    }
}
