// * {
//     outline: 1px solid rgba(244, 0, 0, 0.5);
//     outline-offset: -1px;}


.page-html {
    scroll-behavior: smooth;
    height: 100%;
}

.page-body {
    display: flex;
    flex-direction: column;
    // height: 100%;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.main {
    overflow: hidden;
    // flex-grow: 1;
    // min-height: var(--header-min-height);
}

.main-padding {
   padding-top: var(--header-min-height); 
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, 
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

fieldset {
    margin-left: 0;
    padding: 0;
    border: none;
}

img {
    height: auto;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
}

input,
textarea,
select,
button {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

/**
  Приводим к единому цвету svg-элементы
 */

svg *[fill] {
    fill: currentColor;
}

svg *[stroke] {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



