// * {
//     outline: 5px solid rgba(244, 0, 0, 0.5);
//     outline-offset: -5px;}
.page-html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--color-bg-light);
    overflow-x: hidden;
}


.page-body {
    position: relative;
    margin: 0;
    padding: 0;
    // padding-top: var(--header-min-height);
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    
    min-height: 100%;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.img {
    pointer-events: none;
}

.main {
    overflow: hidden;
    min-height: var(--header-min-height);
}

a, 
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
    @include fluid-text(60, 43)
}

h2 {
    @include fluid-text(40, 36)
}

h3 {
    @include fluid-text(30, 26)
}

h4 {
    @include fluid-text(20, 18)
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
    height: auto;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
    fill: currentColor;
}
svg *[stroke] {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
