.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-asymmetrical {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    @include tablet {
        grid-template-columns: 1fr;
        max-width: calc(
            var(--container-width) + var(--container-padding-x) * 2
        );
        margin-inline: var(--container-padding-x);
    }

    &__block-one {
        margin-left: max(
            var(--container-padding-x),
            calc(100% - var(--container-width) / 2)
        );

        @include tablet {
            margin-left: auto;
        }
    }

    &__block-two {
    }
}

.container-sticky {
    margin-right: calc((100% - 100vw / 2) + 17px); //17px width scroll ;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;

    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}


// Hidden small devices (landscape phones, less than 768px)
.hidden-mobile {
    @include phone-l {
        display: none !important;
    }
}

//Hidden medium devices (tablets, 768px and up )
.visible-mobile {
    @include tablet-up {
        display: none !important;
    }
}
