:root {
--color-bg-light: #F8F8F8;
--color-bg-alpha: #ffffff;

--color-text-dark: #000000;
--color-text-light: #ffffff;

--color-main: #1e6140;
--color-main-light:#84C551;
--color-accent: #e74e13;
--color-accent-dark: #8c3213;

--color-epsilon:#347153;

--top-min-height: 50px;
--header-min-height: 250px;
--shadow : 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
--font-family:  "Montserrat", sans-serif;

//     --color-main: ;
//     --color-dark: ;
//     --color-light: ;
//     --color-accent: ;

//     --border: 1px solid var(--color-dark);
//     --border-radius-s: 7px;
//     --border-radius-l: 14px;
//     --border-radius-xl: 45px;

//     --shadow: 0 0 20px rgba(0, 0, 0, 0.5);
//     --shadow-hover: 0 7px 0 0 var(--color-dark);

//     --font-family-base: "Space Grotesk", sans-serif;
    
    --transition-duration: 0.2s ease-in-out;
    
    // container 
    --container-width: 1240px;
    --container-padding-x: 30px;
    
    @include tablet {
        --container-padding-x: 10px;
    }
    
    @include phone-l {
        --container-padding-x: 5px;
    }
    
}
