.account {
    padding-bottom: 120px;
    &__tab-wrap {
        display: grid;

        align-items: start;

        grid-template-columns: max-content 1fr;

        gap: 30px;
        @include tablet  {
            grid-template-columns: 1fr;

        }
    }

    &__tab-list {
        margin-bottom: 10px;

        max-width: 255px;

        background-color: var(--color-bg-alpha);
        border-radius: 20px;

        overflow: hidden;
        @include phone-l  {
            justify-self: center;

        }

    }

    &__tab-btn {
        display: flex;

        align-items: center;

        padding: 20px;

        width: 100%;

        transition: var(--transition-duration);

        gap: 11px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:active {
            color: var(--color-text-light);
            background-color: var(--color-main-light);
        }

        &:active svg {
            fill: currentColor;
        }

        & svg {
            fill: var(--color-main-light);
        }
    }

    &__tab-btn_active {
        color: var(--color-text-light);
        background-color: var(--color-main-light);

        & svg {
            fill: currentColor;
        }

        &:hover {
            background-color: var(--color-main-light);
        }
    }

    // content
    &__tab-content {
        border-radius: 20px;

        overflow: hidden;
    }
    
    &__content-tab {
        display: grid;

        grid-template-rows: repeat(2, 167px);
        grid-template-columns: 1fr 1fr;

        gap: 30px;
    }
    &__content-item {
        display: grid;

        align-content: center;
        justify-content: center;

        padding: 30px;

        font-size: 14px;
        font-weight: 700;

        color: var(--color-text-light);
        background-color: var(--color-main);
        border-radius: 20px;

        gap: 23px;
        text-transform: uppercase;

        & svg {
            justify-self: center;
            fill: var(--color-main-light);
        }
        & span {
            text-align: center;
        }
    }
    &__tab-reg {
        padding: 30px;

        background-color: var(--color-bg-alpha);
        border-radius:20px;
    }
    
    // &__fildset {
    //     gap: 40px 20px !important;
    // }
}
