$pag-item-mar-r: 30px;
$panel-h: 25%;

.breadcrumbs {
    &__list {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    &__item:not(:last-child) {
        position: relative;
        margin-right: $pag-item-mar-r;

        &::after {
            position: absolute;
            top: 50%;
            right: calc(($pag-item-mar-r / 2) * -1);
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            transform: translate(50%, -50%);
            background-color: var(--color-main-light);
        }
    }

    &__ref {
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.15rem;
        font-weight: 400;

        &_active {
            font-weight: 700;
        }
    }
}
