//--- card ---

.card {
    display: grid;
    grid-template-rows: 1fr max-content;
    position: relative;
    width: 100%;
    min-height: 355px;
    border-radius: 20px;
    background: var(--color-bg-alpha);
    transition: all 0.3s ease;
    padding: 10px;
    // background-color: green;

    &:hover {
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
    }

    &__btn-compare {
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
        padding: 10px;
        background-color: transparent;
        border-color: transparent;
    }

    &__img-wrap {
        width: 100px;
        margin: 20px auto 30px auto;
    }

    &__img {
    }

    &__block-text {
        position: relative;
        padding: 20px;
        border-radius: 20px;
        background: rgba(140, 50, 19, 0.06);
        min-height: 148px;

    }

    &__prod-name {
        font-weight: 600;
        margin: 0;
    }

    &__prod-state {
        color: var(--color-main);
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0 0 25px 0 ;
    }

    &__prod-parce {
        color: var(--color-main-light);
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0;
    }

    &__prod-quantity {
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0;
    }

    &__btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
        border-color: transparent;
    }
}

//--- /card ---
