.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-main-light);
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    line-height: 0;
    &__num {
        translate: 0 1px;
    }
    
}
