.catalog-prod {
    position: relative;
    overflow: hidden;
    background-color: var(--color-bg-light);
}

/*decor-ellipse*/
.catalog-prod__dec-ell:nth-of-type(1) {
    top: 3%;
    transform: translateX(-50%);
}

.catalog-prod__dec-ell:nth-of-type(2) {
    top: 0;
    right: 0;
    transform: translate(50%, -30%);
}

.catalog-prod__dec-ell:nth-of-type(3) {
    top: 40%;
    transform: translateX(-50%);
}

.catalog-prod__dec-ell:nth-of-type(4) {
    right: 0;
    top: 40%;
    transform: translate(50%);
}

.catalog-prod__dec-ell:nth-of-type(5) {
    bottom: 0;
    transform: translateX(-50%);
}

.catalog-prod__dec-ell:nth-of-type(6) {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}

.catalog-prod__wrap {
    position: relative;
}

.catalog-prod__pagination {
    margin-bottom: 17px;
}

.catalog-prod__title {
    text-align: center;
    margin: 0px 0 33px 0;
}

.catalog-prod__counter {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    line-height: normal;
}

.sort-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

/* Стили для обертки .sort-by */
.sort-by {
    position: relative;
    display: inline-flex;
    background-color: transparent;

    /* Стили для псевдоэлемента ::before */
    &::after {
        content: "";
        position: absolute;
        right: 43px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 28px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    /* Стили для псевдоэлемента ::before */
    &::before {
        content: url(img/arr-select-grey.svg);
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Стили для select.sort */
.sort {
    position: relative;
    appearance: none; /* Убирает стандартный стиль браузера для select */
    padding: 10px 60px 10px 30px;
    min-width: 250px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    color: #484848;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;

    &:focus {
        outline: 1px solid var(--color-main);
    }
    &:hover {
        outline: 1px solid var(--color-main);
    }
}

/* Стили для option.sort-options */
.sort-options {
    color: #484848;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* wraper 2 bloks filter and cards*/
.fliter-cards__wrap {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 30px;

    @include tablet {
        grid-template-columns: 1fr;
        gap: 0px;
    }
}

/* group-prod */

.group-prod {
    &__list {
        width: 255px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        padding: 25px 30px;
        margin-bottom: 30px;
        background: #fff;

        @include tablet {
            display: none;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__name {
        color: rgba(0, 0, 0, 0.5);
    }

    &__count {
        text-align: right;
        color: var(--color-accent);
        font-size: 12px;
        font-weight: 400;
    }

    &__item.categories__item_active .group-prod__name {
        color: var(--color-main-light);
        font-weight: 700;
    }
}

/* Custom Dropdown */

.custom-dropdown {
    position: relative;
    width: 255px;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 20px 20px;
    padding: 10px;
    z-index: 1;
}

.selected-group-prod {
    cursor: pointer;
}

/* Styling for the selected group-prod in the dropdown */
.dropdown-list .group-prod__item.active {
    color: #84c551;
    font-weight: 700;
}
///////////////////////////////

/* group-prod */

/* filter */

.filter {
    position: relative;
    width: 255px;
    padding: 25px 30px;
    padding-top: 70px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

    @include tablet {
        position: absolute;
        z-index: 1;
        transform: translateX(-120%);
    }

    &__btn {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 15px;
        background-color: var(--color-main-light);
        font-weight: 600;
        color: var(--color-text-light);

        @include tablet {
            justify-content: start;
        }
    }

    &__btn-icon {
        display: none;
        fill: currentColor;
        margin-right: 20px;

        @include tablet {
            display: inline;
        }
    }
}

.filter fieldset {
    border: none;
}

/* cards */
.cards-prod__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
