.catalog-prod {
    position: relative;

    background-color: var(--color-bg-light);

    overflow: hidden;

    /*decor-ellipse*/
    &__dec-ell:nth-of-type(1) {
        top: 3%;

        transform: translateX(-50%);
    }

    &__dec-ell:nth-of-type(2) {
        top: 0;
        right: 0;

        transform: translate(50%, -30%);
    }

    &__dec-ell:nth-of-type(3) {
        top: 40%;

        transform: translateX(-50%);
    }

    &__dec-ell:nth-of-type(4) {
        top: 40%;
        right: 0;

        transform: translate(50%);
    }

    &__dec-ell:nth-of-type(5) {
        bottom: 0;

        transform: translateX(-50%);
    }

    &__dec-ell:nth-of-type(6) {
        right: 0;
        bottom: 0;

        transform: translate(50%, 50%);
    }

    &__wrap {
        position: relative;
    }

    &__pagination {
        margin-bottom: 17px;
    }

    &__title {
        margin: 0px 0 33px 0;

        text-align: center;
    }

    &__counter {
        font-weight: 400;

        line-height: normal;

        color: rgba(0, 0, 0, 0.5);
    }

    &__btn-filter {
        @include tablet {
            display: inline;
        }
    }
}

.cards-prod__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.sort {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 7px;

    @include tablet {
        display: grid;

        grid-template-columns: 1fr 1fr;

        gap: 20px;
    }

    &__counter {
        order: 1;

        grid-column: 1/-1;

        text-align: center;
    }
    
    &__select {
        position: relative;

        padding: 10px 60px 10px 30px;

        min-width: 250px;

        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;

        line-height: normal;

        color: #484848;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;

        cursor: pointer;

        appearance: none;

        &:focus {
            outline: 1px solid var(--color-main);
        }

        &:hover {
            outline: 1px solid var(--color-main);
        }
    }

    &__by {
        position: relative;

        display: inline-flex;

        background-color: transparent;

        @include tablet {
            width: 100%;
        }

    }
 
    &__options {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;

        line-height: normal;

        color: #484848;
    }
}

.fliter-cards__wrap {
    display: grid;

    grid-template-columns: max-content 1fr;

    gap: 30px;
    @include tablet {
        grid-template-columns: 1fr;

        gap: 0px;
    }
}

.group-prod {
    &__list {
        margin-bottom: 30px;

        padding: 25px 30px;

        width: 255px;

        background: #fff;
        border-radius: 20px;

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        @include tablet {
            display: none;
        }
    }

    &__item {
        display: flex;

        justify-content: space-between;

        padding: 10px 0;
    }

    &__name {
        color: rgba(0, 0, 0, 0.5);
    }

    &__count {
        font-size: 12px;
        font-weight: 400;

        text-align: right;

        color: var(--color-accent);
    }

    &__item.categories__item_active .group-prod__name {
        font-weight: 700;

        color: var(--color-main-light);
    }
}

.custom-dropdown {
    position: relative;

    width: 255px;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    display: none;

    padding: 10px;

    width: 100%;

    background: #fff;
    border-radius: 0 0 20px 20px;

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.selected-group-prod {
    cursor: pointer;
}

.dropdown-list .group-prod__item.active {
    font-weight: 700;

    color: #84c551;
}

.filter {
    position: relative;

    padding: 25px 30px;
    padding-top: 70px;

    width: 255px;

    background: #fff;
    border-radius: 20px;

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    @include tablet {
        position: absolute;
        z-index: 1;

        transform: translateX(-120%);
    }

    & fieldset {
        border: none;
    }

    &__btn {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;

        align-items: center;
        justify-content: center;

        padding: 15px;

        width: 100%;

        font-weight: 600;

        color: var(--color-text-light);
        background-color: var(--color-main-light);
        border-radius: 20px 20px 0 0;

        @include tablet {
            justify-content: start;
        }
    }

    &__btn-icon {
        display: none;

        margin-right: 20px;

        fill: currentColor;
        @include tablet {
            display: inline;
        }
    }
}
