.checkbox__input {
    display: none;
}

.checkbox__label {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    // text-wrap: nowrap;
    user-select: none;
    font-size: 1rem;
}
.checkbox__text {
    font-size: 1rem;
    font-weight: 400;

}

// --- style castom checkbox ---

.checkbox__input:checked + .checkbox__castom::before {
    opacity: 1;
}

.checkbox__input:checked + .checkbox__castom {
    border-color: var(--color-main-light);
}

.checkbox__input:disabled + .checkbox__castom {
    border-color: red;
}

// --- /style castom checkbox ---

.checkbox__castom {
    position: relative;
    display: inline-flex;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 1px solid #ccc;
    &::before {
        content: '';
        position: absolute;
        display: inline-flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 9px;
        aspect-ratio: 1;
        border-radius: 3px;
        background: #84c551;
        transition: all 0.3s ease;
        opacity: 0;
    }
}
