.contact {
    &__info-block {
        border-radius: 20px;
        min-height: 317px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
        padding: 40px;
        background: var(--color-bg-alpha);
    }
}
