.content-prod {
    padding-top: 250px;
    overflow: hidden;
}
.content-prod__decor-ellipse_0-0 {
    left: 0;
    transform: translateX(-50%);
}
.content-prod__decor-ellipse_0-1 {
    right: 0;
    top: 0;
    transform: translateX(50%);

}

//--- catalog ---
//


.catalog {
    display: block;
    // background-color: red;
    margin-bottom: 122px;

    &__title {
        text-align: center;
    }

    &__gallery {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 30px 26px;
        min-width: 100%;

        &-item {
            position: relative;
            overflow: hidden;
            height: 164px;
            background-color: #fff;
            border-radius: 20px;

            &:hover .panel {
                bottom: calc(($panel-h) * -1);
            }

            &--active {
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
            }

            & a {
                display: flex;
                height: 100%;
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .panel {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 20px;
                width: 100%;
                height: $panel-h;

                font-size: 1.4rem;
                font-weight: 600;
                line-height: normal;

                transition: all 0.3s ease;
            }
        }
    }
}

//---/ catalog ---

// ---  adaptive ---

@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
    .catalog {
        &__gallery {
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(3, auto);
            gap: 30px 26px;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__gallery {
            grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(3, auto);
            gap: 30px 26px;
        }
    }
}
@media (max-width: 425px) {
    .catalog {
        &__gallery {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px 26px;
        }
    }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}

// ---  /adaptive ---
