.custom-select {
    position: relative;
    display: inline-block;

    &__over {
        display: block;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #f2f2f2;
        padding: 5px 10px;
    }

    &__options {
        position: absolute;
        display: none;
        z-index: 1;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-height: 150px;
        background: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    &__options li {
        cursor: pointer;
        padding: 5px 10px;
    }

    &__options li:hover {
        background: #f2f2f2;
    }
}
