.custom-select {
    position: relative;
    display: inline-block;
    
    &__wrap-over {
        position: relative;
    }
    
    &__over {

        display: block;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        min-width: 200px;
        background-color: transparent;
        padding: 5px 10px;
        background-color: blue;
    }
    

    &__arr-img {
        position: absolute;
        top: 50%;
        right: 5px;
        translate: 0 -50%;
        fill: red;
        transition: all .5s ease-in-out;
    }
    
    &.custom-select_active .custom-select__arr-img {
        transform: rotate(180deg); 
    }


    &__options {
        position: absolute;
        display: none;
        z-index: 1;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    &__options li {
        cursor: pointer;
        padding: 5px 10px;
        user-select: none;
    }

    &__options li:hover {
        background: #f2f2f2;
    }

    // them accent
    
    &__over_them-accetn {
        display: flex;
        align-items: center;
        background-color: red;
        display: flex;
        min-width: 260px;
        height: 47px;
        border: currentColor 1px solid;
        border-radius: 29px;
        padding: 0px 20px;
        background-color: initial;
        color: var(--color-accent);
        font-size: 16;
        font-weight: 700;

    }

    &__options_them-accetn {
        min-width: 260px;
        font-size: 16;
        font-weight: 700;
        color: var(--color-accent);
        padding: 10px 20px;
        border: currentColor 1px solid;
        background-color: var(--color-bg-light);
    }
}
