.footer {
    position: relative;
    padding-top: 120px;
    background-color: var(--color-bg-alpha);

    // --- block 4 columns ---

    &__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 92px;
    }

    &__col {
        background-color: var(--color-bg-alpha);
    }

    // --- logo  footer ---

    & .logo {
        display: block;
        width: 110px;
        margin-bottom: 10px;
    }

    & .logo img {
        width: 100%;
        height: auto;
    }

    // --- /logo  footer ---

    &__text-offer {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        max-width: 200px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: var(--color-text-dark);
    }

    &__ref {
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: var(--color-text-dark);
    }

    &__ref,
    &__title {
        margin-bottom: 25px;
        line-height: 1;
        padding-left: 5px;
    }

    &__mail-wrap {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
        padding: 5px;
    }

    &__mail {
        color: var(--color-text-dark);
        font-weight: 400;
    }

    // --- /block 4 columns ---

    // --- c ---

    &__c-line {
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
    }

    &__c-text {
        text-align: center;
        padding: 16px 0;
        font-size: 0.9rem;
        font-weight: 400;
        opacity: 0.5;
    }

    // --- /c ---
    //
    &__order {
        margin-left: -5px;
    }

}

// ---  adaptive ---

@media (max-width: 1840px) {
    .footer {
        &__arrow {
            right: 1%;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        & h3,
        a {
            font-size: 1rem;
        }

        &__info {
            grid-template-columns: auto auto auto;
            grid-template-rows: repeat(2, auto);
        }

        &__col-logo {
            grid-column: span 3;
        }

        &__text-offer {
            max-width: 100%;
        }
        &__col-info {
            order: 1;
        }
        &__col-contacts {
            order: 2;
        }

        &__col-contacts .order {
            display: grid;
        }

    }
}
@media (max-width: 768px) {
    .footer {
        &__info {
            grid-template-columns: 50%;
            grid-template-rows: repeat(3, auto);
        }

        &__col-logo {
            grid-column: span 2;
        }

        &__text-offer {
            max-width: 100%;
        }

        &__col-contacts {
            grid-column: span 2;
        }

        &__col-contacts .order {
            display: grid;
        }
    }
}
