.header {
    position: absolute;
    width: 100%;
    min-height: var(--header-min-height);
    z-index: 2;
}

.header__sub {
    display: grid;
    grid-template-columns: max-content 1fr 1fr repeat(3, max-content);
    gap: 16px;
    align-items: center;
    padding-top: calc(var(--top-min-height) + 20px);
    padding-bottom: 20px;
    background-color: var(--color-bg-alpha);
}

.header__order {
    justify-self:start; 
    margin-left: 15px;
    background-color: var(--color-bg-alpha);
    // &:hover .button-round {
    //     background-color: var(--color-accent-dark);
    // }

    // &:hover .button-round__img {
    //     fill: var(--color-text-light);
    // }
}

.header__heart {
    translate: .5px 1px;
}


@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
    .header__sub {
        grid-template-columns: max-content 1fr repeat(3, max-content);
    }
    .header__search {
        display: none; 
    }
}
@media (max-width: 768px) {
    .header__sub {
        grid-template-columns: 1fr repeat(4, max-content);
    }
}

@media (max-width: 600px) { 

    .header__order {
        display: none; 
    }
}

@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
