.leaf {
    background-image: url(../img/leaf.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    border: 1px solid red;
    aspect-ratio: 1/0.8;
}
