.login {
    display: flex;
    align-self: center;
    height: 100%;

    
    &__enter {
        position: relative;
        padding:0 10px 0 40px;

        &::before {
            content: url("../img/Svg/log-in.svg");
            position: absolute;
            left: 10px;

        }
    }

    &__line {
        align-self: center;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        margin: 0 3px;
        height: 16px;
    }

    &__registration {
        position: relative;
        align-self: center;
        padding:0 10px;
    }
}
