.nav-prod {
    transition: var(--transition-duration);

    @include tablet {
        height: 47px;
        overflow: hidden;
    }

    &_active {
        @include tablet {
            height: auto;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 19%);
        justify-content: space-between;

        @include tablet {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            width: 700px;
            gap: 10px;
        }

        @include phone-l {
            width: 100%;
        }
    }

    &__item {
        position: relative;
    }

    &__btn-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__btn {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: min-content min-content;
        column-gap: 5px;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid var(--color-main);
        align-items: center;
        justify-content: center;
        padding: 1px 10px;
        transition: all 0.3s ease;

        font-size: 14px;
        font-weight: 600;
        line-height: 105.9%; /* 14.826px */
        text-transform: uppercase;
        background-color: transparent;

        @include tablet {
            grid-template-columns: 24px 1fr max-content;
            border-color: var(--color-accent);
            height: 47px;
            padding-inline: 20px ;
            border-radius: 25px;
            background-color: var(--color-accent);
            color: #fff;
        }
    }

    &__btn:hover {
        border-color: var(--color-accent);
        color: #fff;
        background-color: var(--color-accent);

        &:hover .nav-prod__svg {
            fill: currentColor;
        }

        &:focus-visible {
            background-color: var(--color-accent);
            border-color: var(--color-accent);
            color: #fff;
        }

        &:focus-visible .nav-prod__svg {
            fill: currentColor;
        }

        &:active {
            background-color: var(--color-accent-dark);
            border-color: var(--color-accent-dark);
            color: #fff;
        }

        &:active .nav-prod__svg {
            fill: currentColor;
        }
    }

    &__svg {
        fill: var(--color-main-light);
        width: 24px;
        aspect-ratio: 1;

        @include tablet {
            fill: currentColor;
        }
    }

    &__seeds {
        stroke: #fff;

        @include tablet {
            stroke: #fff;
            stroke: var(--color-accent);
        }
    }

    &__btn:hover .nav-prod__seeds {
        stroke: var(--color-accent);
    }

    &__btn-menu {
        width: 50px;
        height: 100%;

        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__arr-menu {
        width: 10px;
        aspect-ratio: 1;

        @include tablet {
            fill: #fff;
            transition: all 0.3s ease;
        }
    }

    &_active .nav-prod__arr-menu {
        transform: rotate(180deg);
    }
}
