.novelties {
    position: relative;
    background-color: transparent;
}

.novelties__decor-ellipse_1-0 {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    top: 10%;
}

.novelties__decor-ellipse_1-1 {
    position: absolute;
    right: 0px;
    transform: translateX(50%);
    top: 15%;
}
.novelties__title {
    text-align: center;
}
