.order {
    z-index: 1;
    position: relative;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    background-color: transparent;
    color: inherit;

    &_theme_lihgt {
        &:hover {
            background-color: var(--color-bg-alpha);
        }
    }

    &_theme_mob {
        background-color: var(--color-main);
    }

    &.order_theme_mob .order__inner {
        margin-left: -10px;
    }

    &.order_active .order__inner {
        background-color: red;
        position: absolute;
        box-shadow: var(--shadow);
        height: 130px;
        background-color: inherit;
    }

    &.order_active .order__list {
        display: grid;
    }

    &.order_active .order__arr-menu {
        rotate: 180deg;
        transition: var(--transition-duration);
    }

    &__inner {
        position: relative;
        display: grid;
        gap: 0 5px;
        width: 100%;
        height: 100%;
        grid-template-columns: max-content max-content;
        grid-auto-rows: min-content;
        border-radius: 20px;
        padding: 10px;
        background-color: inherit;

        @include tablet {
            justify-self: end;
        }
    }

    &__btn-wrap {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
    }

    &__arr-menu {
        fill: var(--color-main-light);
    }

    &__btn {
        @include tablet {
            width: 35px;
            height: 25px;
        }
    }

    &__text {
        position: relative;
        align-self: end;
        justify-self: start;
        grid-column: 2/-1;
        color: var(--color-main-light);
        font-weight: 700;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &__list {
        display: none;
        grid-column: 2/-1;
        gap: 10px;
        padding-top: 10px;
    }

    &__tel {
        color: currentColor;
        font-weight: 300;
        &:hover {
            color: var(--color-accent);
        }
    }
}
