.registration {
    padding-top: 250px;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;

    @include tablet {
        padding-top: 200px;
    }

    &__breadcrumbs {
        @include tablet {
            margin-bottom: 18px;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__descr {
        text-align: center;
        width: 87%;
        margin-inline: auto;
        margin-bottom: 35px;

        @include tablet {
            width: 100%;
            font-size: 14px;
            margin-bottom: 16px;
        }
    }
}
