#scrollToTopBtn {
  display: none; /* По умолчанию кнопка скрыта */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}

