.search {
    &__form {
        display: grid;
        grid-template-columns: 1fr 50px;
        height: 40px;
        border-radius: 90px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        align-items: center;
        background: #fff;
        margin-right: 10px;
        margin-left: 10px;
    }

    &__input {
        border: 3px solid #fff;
        border-right: none;
        margin-left: 10px;
        height: 20px;
        min-width: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: var(--color-text-dark);
    }

    &__input:focus {
        color: var(--color-text-dark);
    }

    &__button {
        position: relative;
        height: 35px;
        border-radius: 0 90px    90px 0  ;
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-size: 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    &__img {
        fill: var(--color-main-light);
        height: 15px;
        width: 15px;
    }

}
