.stock {
    padding-top: 100px;
    padding-bottom: 117px;
    position: relative;
    background-color: var(--color-main);

    @include tablet {
        padding-bottom: 40px;
    }

    &__title {
        text-align: center;
        color: var(--color-text-light);
    }

    &__btn-wrap {
        position: relative;
    }

    &__btn {
        margin-inline:auto;
    }

    & .slider__dot {
        background-color: rgba(255, 255, 255, 0.2);
    }

    & .slider__dot--active {
        background-color: rgba(255, 255, 255, 1);
    }
    
    &__decor-ellips_0-0 {
        top: -300px;
        left: 0;
        transform: translateX(-50%);
    }
    
    &__decor-ellips_0-1 {
        top: -300px;
        right: 0px;
        transform: translateX(50%);
    }
    
    &__decor-ellips_1-0 {
        bottom: -400px;
        left: 0;
        transform: translateX(-50%);
    }
    
    &__decor-ellips_1-1 {
        bottom: -300px;
        right: 0px;
        transform: translateX(50%);
    }
}
