.text {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.5);

    &_accent {
        font-family: var(--color-main);
        font-weight: 700;
        font-size: 16px;
        color: #1e6140;
    }
}
