.title {
    position: relative;
    font-size: 45px;
    font-weight: 700;

    @include tablet {
        font-size: 45px;
    }

    &_leaf-l {
        &::before {
            position: absolute;
            display: inline-block;
            left: -40px;
            content: url("../img/Svg/leaf.svg");
            height: 32px;
            width: 25px;
            margin-right: 10px;

            @include tablet {
                margin-left: 20px;
                &::before {
                    height: 16px;
                    width: 13px;
                }
            }
        }
    }

    &_leaf-l-h1 {
        &::before {
            position: absolute;
            display: inline-block;
            left: -40px;
            content: url("../img/Svg/leaf.svg");
            height: 32px;
            width: 25px;
            margin-right: 10px;

            @include tablet {
                top: 19px;
            }
        }
    }

    &_leaf-r {
        &::after {
            display: inline-block;
            content: url("../img/Svg/leaf.svg");
            height: 32px;
            width: 25px;
            margin-left: 10px;
        }

        @include tablet {
            &::after {
                height: 16px;
                width: 13px;
            }
        }
    }

    &_size_l {
        font-size: 45px;

        @include tablet {
            font-size: 22px;
        }
    }

    &_size_xl {
        font-size: 55px;
        @include tablet {
            font-size: 25px;
        }
    }
}
